<!DOCTYPE html>
<html ng-app="LunchApp">
  <head>
    <meta charset="utf-8">
    <title>Coursera SPA - Assignment 01</title>

    <!-- CUSTOM CSS -->
    <link rel="stylesheet" type="text/css" href="./resources/css/main.css">
  </head>
  <body ng-controller="LunchController">
    <div class="container">
      <h1 class="text-align-center">Lunch List</h1>

      <div class="show-message smsg-success smsg-error">
        <span id="msgElement" ng-model="msg">{{ msg }}</span>
      </div>

      <div class="input-form">
        <input id="lunch-list"
          class="input-style"
          type="text"
          placeholder="list comma separated dishes you usually have for lunch"
          ng-model="dishes"
          ng-keypress="($event.keyCode === 13) ? displayText() : return">

          <p class="text-display" ng-show="dishesShow">{{ dishesShow }}</p>
      </div>

      <div class="button-container">
        <button id="btn" class="btn-style" ng-click="displayText()">Check if too much</button>
      </div>
    </div>

    <script src="./resources/scripts/angular.min.js"></script>
    <script src="./resources/scripts/app.js"></script>
  </body>
</html>
